input {
    tcp {
        port => 5000
            codec => json
    }

    udp
    {
        host => "0.0.0.0"
            port => 5001
            codec => json
    }
}

## Add your filters / logstash plugins configuration here

output {
    elasticsearch {
        hosts => "elasticsearch:9200"
        user => "logstash"
        password => "{{ users.logstash.plaintext_password }}"
    }
}
