input {
    tcp {
        port => 5000
            codec => json
    }

    udp
    {
        host => "0.0.0.0"
            port => 5001
            codec => json
    }

    # This port is just for legacy applications, and can be removed if this app
    # stops logging
    udp
    {
        host => "0.0.0.0"
            port => 5002
            codec => json
            type => "tokyo-kiosk"
    }
}

## Add your filters / logstash plugins configuration here

output {
    elasticsearch {
        hosts => "elasticsearch:9200"
        user => "logstash"
        password => "{{ users.logstash.plaintext_password }}"
    }
}
